*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
    
}

* {
    font-family: impact, sans serif;
}

/* nu vil jeg style min header / navbar */

.menubar {
    text-align: center;
    background-color: beige;
}

.menubar ul {
    display:inline-flex;
    color: darkgreen;
}

.menubar ul li {
    width: 220px;
    margin: 15px;
    padding: 15px;  
    list-style: none;
}

.menubar ul li a {
    transition: color 0.3s;
}

.menubar ul li a:hover {
    color: blue;
}


.menubar ul li a {
    text-decoration: none;
    color: darkgreen;
}

.active, .menubar ul li:hover {
    background: #f8a9f4;
    border-radius: 3px;
}

.submenu {
    display: none;
}

.menubar ul li:hover .submenu {
    display: block;
    position:absolute;
    background-color: beige;
    margin-top: 15px;
    margin-left: -15px;
}

.menubar ul li:hover .submenu ul {
    display: block;
    margin: 10px;
}

.menubar ul li:hover .submenu ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid darkgreen;
    border-radius: 0;
    text-align: left;
    background: transparent;
}

.menubar ul li:hover .submenu ul li:last-child {
    border-bottom: none;
}

.menubar ul li:hover .submenu ul li a {
    transition: color 0.3s;
}

.menubar ul li:hover .submenu ul li a:hover {
    color: blue;
}

.submenu2 {
    display: none;
}

.hoverme:hover .submenu2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background-color: beige;
}

/* nu vil jeg style mit logo og min H1 overskrift  */

.logooverskrift {
    display: flex; /* Aktiverer flexbox */
    align-items: center;
    margin-left: 100px;
    
}

.logogrøn {
    width: 100px; /* Bredde */
    height: 100px; /* Højde */
    margin-left: 100px; /* Højremargin */
    margin-right: 100px;
}

h1 {
    font-family: Impact, sans-serif;
    font-size: 100px;
    margin-top: 20px;
    color: darkgreen;
}

hr {
    border: none;
    border-top: 2px solid #000;
    width: 1500px;
}

/* jeg styler nu min førstedel af artikel, jeg bruger display flex, til at placere dem ved siden af hiannden */

.forstedel
{
    display: flex;
}

/* jeg styler billedet i den første del */

.mulepose {
    width: 400px;
    border: 2px solid black;
    padding: 50px;
    height: 450px;
    border-bottom: 4px;
    
}

/* jeg styler anden del af det øverste på min artikel */

.forstedel2 {
    border: black 2px solid;
    padding-top: 75px;
    padding-left: 50px;
    padding-right: 50px;
    height: 454px;
}

.forstedel2 h2 {
    color: darkgreen;
}

.forstedel2 p {
    color: darkgreen;
    line-height: 30px;
    padding-top: 15px;
    font-family: sans-serif;
    font-weight: bold;
}

/* jeg styler linket, så det matcher med den grønne farve, men ændre sig ved hover til blå */

.forstedel2 a {
    color: darkgreen;
    transition: color 0.3s;
}

.forstedel2 a:hover{
    color: blue;
}

/* jeg vil nu style det så anden del har to bokse over hinanden til venstre og en stor til højre */

.andendel {
    display: flex;
}

/* jeg starter med at style den øversteboks til venstre */

.overstedel {
    border: #000 2px solid;
    padding: 20px 30px;
    height: 250px;
}

.overstedel h3 {
    color: darkgreen;
}

.overstedel p {
    color: darkgreen;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 30px;
}

.overstedel a {
    color: darkgreen;
    transition: color 0.3s;
}

.overstedel a:hover {
    color: blue;
}

/* jeg styler nu den nederstedel  */

.nederstedel {
    border: #000 2px solid;
    padding: 30px 30px;
    height: 450px;
}

.nederstedel h3 {
    color: darkgreen;
}

.nederstedel p {
    color: darkgreen;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 30px;
}

.nederstedel a {
    color: darkgreen;
    transition: color 0.3s;
}

.nederstedel a:hover {
    color: blue;
}

/* jeg styler også billedet der hører til denne del */

.muleposelomme {
    width: 200px;
    margin-left: 225px;
}

/* jeg styler nu den boks der er til venstre */

.andenboks {
    border: #000 2px solid;
    height: 700px;
    padding-left: 40px;
    padding-top: 50px;
    background-color: #f8a9f4;
}

/* jeg styler billedet i boksen */

.materialermulepose {
    width: 150px;
    float: right;
    margin-bottom: 210px;
    margin-right: 50px;
}

/* nu styler jeg h3 og tekst */

.andenboks h3 {
    color: blue;
}

.andenboks p {
    color: blue;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 30px;
   
}

/* jeg styler også linket i teksten */

.andenboks p a {
    color: blue;
    transition: color 0.3s;
}

.andenboks p a:hover {
    color: darkgreen;
}

.andenboks li {
    color: blue;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 30px;
}

/* jeg styler den tredjedel af artiklen, hvor listen er guide til at sy en mulepose */
/* billederne skal være ud fra de matchende punkter */

.tredjedel {
    padding-top: 40px;
    padding-left: 100px;
    display: flex;
    border: #000 2px solid;
    
    
}

.tredjedel h3 {
    color: darkgreen;
    font-size: 30px;
    margin-left: 275px;
}

/* jeg styler min list items */

.tredjedel li {
    width: 700px;
    color: darkgreen;
    line-height: 50px;
    font-size: 20px;
}

/* jeg styler det første billede, så den er til højre på siden  */

.rektangler {
    width: 250px;
    margin-top: 100px;
    margin-left: 50px;
}

/* jeg styler de andre billeder  */

.zigzag {
    width: 250px;
    margin-left: 50px;
}

.sykanter {
    width: 250px;
    margin-left: 50px;

}

.foldkanten {
    width: 250px;
    margin-top: 40px;
    margin-left: 50px;
    
}

.stropper {
    width: 250px;
    margin-top: 170px;
    margin-left: 50px;
}

.færdigmulepose {
    width: 250px;
    margin-top: 80px;
    margin-left: 50px;
}

/* jeg styler den fjerdedel af min artikel */

.fjerdedel {
    display: flex;
}

/* jeg starter med at style den første boks */

.fjerdedel1 {
    border: #000 2px solid;
}

.fjerdedel1 h3 {
    color: darkgreen;
    text-align: center;
    padding-top: 20px;
}

.fjerdedel1 p {
    color: darkgreen;
    padding: 0 30px;
    padding-bottom: 30px;
}

.fjerdedel1 p a {
    color: darkgreen;
    transition: color 0.3s;
}

.fjerdedel1 p a:hover {
    color: blue;
}

/* jeg styler boks to på samme måde */

.fjerdedel2 {
    border: #000 2px solid;
}

.fjerdedel2 h3 {
    color: darkgreen;
    text-align: center;
    padding-top: 20px;
}

.fjerdedel2 p {
    color: darkgreen;
    padding: 0 30px;
    padding-bottom: 30px;
}

.fjerdedel2 p a {
    color: darkgreen;
    transition: color 0.3s;
}

.fjerdedel2 p a:hover {
    color: blue;
}

/* jeg vil nu style min footer */

.footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* jeg styler sektionen med kontakt */

.kontakt {
    padding-top: 25px;
    color: darkgreen;
    font-weight: bold;
    border: #000 solid 2px;
    width: 33%;
    line-height: 50px;
    border-bottom: 4px solid black;
    padding-bottom: 25px;
}

.kontakt a {
    color: darkgreen;
}

.telefon {
    font-weight: bolder;
    padding-bottom: 10px;
}



/* jeg styler sektionen for sociale medier  */

.socialemedier {
    padding-top: 25px;
    color: darkgreen;
    font-weight: bold;
    border: #000 solid 2px;
    width: 33%;
    line-height: 50px;
    border-bottom: 4px solid black;
    padding-bottom: 25px;
}

.socialemedier a {
    color: darkgreen;
}

/* jeg styler den sidste boks med logo og titel */

.grøngarderobe {
    padding-top: 25px;
    color: darkgreen;
    font-weight: bold;
    border: #000 solid 2px;
    width: 35%;
    line-height: 50px;
    border-bottom: 4px solid black;
    padding-bottom: 25px;
}

.grøngarderobe h3 {
    color: darkgreen;
    transition: color 0.3s;
}

.grøngarderobe h3:hover {
    color: blue;
}


.lillelogo {
    width: 100px;
}

/* jeg styler mine links i min footer, så de ændre sig ved hover*/

.footer a {
    transition: color 0.3s  ;
}

.footer a:hover {
    color: blue;
}